/**** Colors ****/
.single-post .site-main {
  margin: 0;
}
.single-post .site-main article .entry-header .entry-category {
  margin-top: 48px;
  text-align: center;
}
.single-post .site-main article .entry-header .entry-category a {
  background-size: 0;
  color: #fff;
  overflow: hidden;
  padding: 8px 32px;
  position: relative;
  text-decoration: none;
  transition: all 0.75s;
  z-index: 0;
  padding: 4px 12px;
}
.single-post .site-main article .entry-header .entry-category a::after {
  background-color: #2b92ec;
  content: "";
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}
.single-post .site-main article .entry-header .entry-category a::before {
  background-color: #424851;
  content: "";
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  width: 0%;
  z-index: -1;
}
.single-post .site-main article .entry-header .entry-category a:hover {
  color: #fff;
}
.single-post .site-main article .entry-header .entry-category a:hover:before {
  width: 100%;
}
.single-post .site-main article .entry-header .entry-category a:active {
  background-color: #f7a072;
  transition: none;
}
.single-post .site-main article .entry-header .entry-category a::after {
  background-color: #2b92ec;
}
.single-post .site-main article .entry-header .entry-category a::before {
  background-color: #424851;
}
.single-post .site-main article .entry-header h1 {
  text-align: center;
}
.single-post .site-main article .entry-header h1::after {
  border-bottom: 5px #f7a072 solid;
  content: "";
  display: flex;
  height: 5px;
  margin: 32px auto 0;
  width: 100px;
}
.single-post .site-main article .entry-header .entry-meta {
  color: #424851;
  font-size: 16px;
  margin-bottom: 32px;
  text-align: center;
}
.single-post .site-main article .entry-header .byline {
  display: block;
}
.single-post .site-main article .entry-content {
  margin-bottom: 128px;
}
.single-post .site-main article .entry-content h1,
.single-post .site-main article .entry-content h2,
.single-post .site-main article .entry-content h3,
.single-post .site-main article .entry-content h4,
.single-post .site-main article .entry-content h5,
.single-post .site-main article .entry-content p,
.single-post .site-main article .entry-content ul,
.single-post .site-main article .entry-content ol,
.single-post .site-main article .entry-content blockquote {
  max-width: 800px;
  margin: 32px auto;
}
.single-post .site-main article .entry-content figure {
  margin: 32px 0;
}
.single-post .site-main article .entry-content ol,
.single-post .site-main article .entry-content ul {
  padding-inline-start: 48px;
}
.single-post .site-main article .entry-content ol li,
.single-post .site-main article .entry-content ul li {
  padding-bottom: 12px;
}
.single-post .site-main article .entry-content ol li:last-child,
.single-post .site-main article .entry-content ul li:last-child {
  padding-bottom: 0;
}
.single-post .site-main article .entry-content blockquote {
  background-color: #f2f3f3;
  border-left: 5px #f7a072 solid;
  font-size: 24px;
  font-weight: 500;
  padding: 24px 48px;
}
.single-post .site-main article .entry-content blockquote p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .single-post .site-main article .entry-header .entry-category {
    margin-top: 32px;
    text-align: left;
  }
  .single-post .site-main article .entry-header h1 {
    font-size: 28px;
    text-align: left;
  }
  .single-post .site-main article .entry-header h1::after {
    width: 100%;
  }
  .single-post .site-main article .entry-content blockquote {
    font-size: 20px;
    padding: 24px;
  }
}

/*# sourceMappingURL=blog-page.css.map */
