/**** Colors ****/
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  background: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}
body a {
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;
  transition: background-size 0.5s, background-position 0s 0.5s, color 0.25s ease-in-out;
  background-image: linear-gradient(#424851 0 0);
  color: #2b92ec;
}
body a:hover, body a:focus {
  background-position: 100% 100%;
  background-size: 100% 2px;
}
body a:active {
  transition: none;
}
body a:focus {
  outline: thin dotted;
}
body a:visited {
  color: #2b92ec;
}
body a:hover, body a:focus {
  color: #424851;
}
body a:active {
  background-image: linear-gradient(#f7a072 0 0);
  color: #f7a072;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  margin-bottom: 32px;
}
body h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 130%;
}
body h2 {
  font-size: 36px;
  font-weight: 900;
}
body h3 {
  font-size: 32px;
  font-weight: 700;
}
body h4 {
  font-size: 24px;
  font-weight: 500;
}
body h5 {
  font-size: 20px;
  font-weight: 500;
}
body p {
  line-height: 170%;
}
body img {
  vertical-align: middle;
}

.content-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 32px;
}

.site-main {
  margin-top: 32px;
}

#masthead {
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  padding: 32px 0;
  position: sticky;
  top: 0;
  z-index: 5;
}
#masthead .content-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#masthead .content-wrapper .site-logo {
  align-items: center;
  display: flex;
  gap: 16px;
  width: 100%;
}
#masthead .content-wrapper .site-logo a {
  line-height: 0;
}
#masthead .content-wrapper .site-logo a.site-name {
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;
  transition: background-size 0.5s, background-position 0s 0.5s, color 0.25s ease-in-out;
  background-image: linear-gradient(#2b92ec 0 0);
  color: #424851;
  font-size: 32px;
  font-weight: 800;
  line-height: 100%;
}
#masthead .content-wrapper .site-logo a.site-name:hover, #masthead .content-wrapper .site-logo a.site-name:focus {
  background-position: 100% 100%;
  background-size: 100% 2px;
}
#masthead .content-wrapper .site-logo a.site-name:active {
  transition: none;
}
#masthead .content-wrapper .site-logo a.site-name:focus {
  outline: thin dotted;
}
#masthead .content-wrapper .site-logo a.site-name:visited {
  color: #424851;
}
#masthead .content-wrapper .site-logo a.site-name:hover, #masthead .content-wrapper .site-logo a.site-name:focus {
  color: #2b92ec;
}
#masthead .content-wrapper .site-logo a.site-name:active {
  background-image: linear-gradient(#f7a072 0 0);
  color: #f7a072;
}
#masthead .content-wrapper .main-navigation ul {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
}
#masthead .content-wrapper .main-navigation ul li a {
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;
  transition: background-size 0.5s, background-position 0s 0.5s, color 0.25s ease-in-out;
  background-image: linear-gradient(#2b92ec 0 0);
  color: #424851;
  font-size: 16px;
}
#masthead .content-wrapper .main-navigation ul li a:hover, #masthead .content-wrapper .main-navigation ul li a:focus {
  background-position: 100% 100%;
  background-size: 100% 2px;
}
#masthead .content-wrapper .main-navigation ul li a:active {
  transition: none;
}
#masthead .content-wrapper .main-navigation ul li a:focus {
  outline: thin dotted;
}
#masthead .content-wrapper .main-navigation ul li a:visited {
  color: #424851;
}
#masthead .content-wrapper .main-navigation ul li a:hover, #masthead .content-wrapper .main-navigation ul li a:focus {
  color: #2b92ec;
}
#masthead .content-wrapper .main-navigation ul li a:active {
  background-image: linear-gradient(#f7a072 0 0);
  color: #f7a072;
}
#masthead .content-wrapper .main-navigation ul li.menu-item-has-children > a {
  align-items: center;
  display: flex;
}
#masthead .content-wrapper .main-navigation ul li.menu-item-has-children > a::after {
  border-top: 6px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
}
#masthead .content-wrapper .main-navigation ul li .sub-menu {
  background: #ffffff;
  padding: 16px;
}
#masthead .content-wrapper .main-navigation ul li .sub-menu a {
  color: inherit;
}
#masthead .content-wrapper .main-navigation ul li .sub-menu a:hover {
  color: #f7a072;
}
#masthead .content-wrapper .main-navigation ul li .sub-menu a:active {
  color: #f7a072;
}

.admin-bar #masthead {
  top: 32px;
}

#before_footer img {
  margin-bottom: -1px;
  width: 100%;
}

footer {
  background-color: #2b92ec;
  color: #fff;
  padding: 64px 0 32px;
}
footer .content-wrapper .columns {
  display: grid;
  gap: 64px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 64px;
}
footer .content-wrapper .columns p {
  font-size: 16px;
}
footer .content-wrapper .columns p:has(strong) {
  font-size: 20px;
}
footer .content-wrapper .columns ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .content-wrapper .columns a {
  color: #fff;
  font-size: 16px;
}
footer .content-wrapper .columns a:visited {
  color: #fff;
}
footer .content-wrapper .columns a:hover {
  color: #424851;
}
footer .content-wrapper .columns a:active {
  color: #f7a072;
}
footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

/*# sourceMappingURL=global.css.map */
