/**** Colors ****/
$background: #ffffff;
$blue: #1678cd;
$light-blue: #dbecfb;
$gray: #424851;
$light-gray: #f2f3f3;
$orange: #f7a072;

$laptop-size: 1024px;
$tablet-size: 900px;
$mobile-size: 600px;
