@import './_variables.scss';
@import './mixins.scss';

.single-post {
	.site-main {
		article {
			.entry-header {
				.entry-category {
					text-align: center;

					a {
						@include blueButton;
						padding: 4px 12px;
					}
				}

				h1 {
					text-align: center;
				}

				.entry-meta {
					color: $gray;
					font-size: 16px;
					margin-bottom: 32px;
					text-align: center;
				}

				.byline {
					display: block;
				}
			}

			.entry-content {
				h1,
				h2,
				h3,
				h4,
				h5,
				p,
				ul,
				ol,
				blockquote {
					max-width: 800px;
					margin: 32px auto;
				}

				figure {
					margin: 32px 0;
				}

				ol,
				ul {
					padding-inline-start: 48px;

					li {
						padding-bottom: 12px;

						&:last-child {
							padding-bottom: 0;
						}
					}
				}

				blockquote {
					background-color: $light-gray;
					border-left: 5px $orange solid;
					font-size: 24px;
					font-weight: 500;
					padding: 24px 48px;

					p {
						margin: 0;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $mobile-size) {
	.single-post {
		.site-main {
			article {
				.entry-header {
					.entry-category {
						margin-top: 32px;
						text-align: left;
					}

					h1 {
						font-size: 28px;
						text-align: left;

						&::after {
							width: 100%;
						}
					}
				}

				.entry-content {
					blockquote {
						font-size: 20px;
						padding: 24px;
					}
				}
			}
		}
	}
}
