@import './_variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
	background: $background;
	font-family: 'Mulish', sans-serif;
	font-size: 18px;

	a {
		@include blueLink;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-bottom: 32px;
	}

	h1 {
		font-size: 36px;
		font-weight: 900;
		line-height: 130%;
	}

	h2 {
		font-size: 36px;
		font-weight: 900;
	}

	h3 {
		font-size: 32px;
		font-weight: 700;
	}

	h4 {
		font-size: 24px;
		font-weight: 500;
	}

	h5 {
		font-size: 20px;
		font-weight: 500;
	}

	p {
		line-height: 170%;
	}

	img {
		vertical-align: middle;
	}
}

.content-wrapper {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 32px;
}

.site-main {
	margin-top: 32px;
}

#masthead {
	background-color: #fff;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
	padding: 20px 0;
	position: sticky;
	top: 0;
	z-index: 5;

	.content-wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;

		.site-logo {
			align-items: center;
			display: flex;
			flex: 2;
			gap: 16px;

			a {
				line-height: 0;
			}

			a.site-name {
				@include grayLink;
				font-size: 32px;
				font-weight: 800;
				line-height: 100%;
			}
		}

		.main-navigation {
			flex: 3;
			overflow: hidden;
			padding: 16px 0;
			position: relative;

			ul {
				display: flex;
				gap: 32px;
				justify-content: flex-end;

				li {
					a {
						@include grayLink;
						font-size: 16px;
					}

					&.menu-item-has-children {
						> a {
							align-items: center;
							display: flex;

							&::after {
								border-top: 6px dashed;
								border-right: 6px solid transparent;
								border-left: 6px solid transparent;
								content: '';
							}
						}
					}

					.sub-menu {
						background: $background;
						padding: 16px;

						a {
							color: inherit;

							&:hover {
								color: $orange;
							}

							&:active {
								color: $orange;
							}
						}
					}
				}
			}

			.search-form {
				display: flex;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(100%, -50%);
				opacity: 0;
				transition: opacity 0.25s, transform 0.25s;
				width: 100%;

				input[type='text'] {
					border-radius: 5px 0 0 5px;
					border-right: none;
					outline: none;
					width: 100%;

					&:hover {
						border-color: #999;
					}

					&:focus {
						border-color: $orange;
					}
				}

				button {
					@include blueButton;
					border: none;
					border-radius: 0 5px 5px 0;
					cursor: pointer;
				}

				&.active {
					transform: translate(0, -50%);
					opacity: 1;
				}
			}
		}

		.search-btn {
			line-height: 0;
			padding-left: 32px;

			svg {
				cursor: pointer;
				height: 20px;
				width: 20px;

				circle,
				line {
					pointer-events: none;
					stroke: $gray;
				}

				&:hover {
					circle,
					line {
						stroke: $blue;
					}
				}

				&:active {
					circle,
					line {
						stroke: $orange;
					}
				}
			}
		}
	}
}

.admin-bar {
	#masthead {
		top: 32px;
	}
}

#before_footer {
	img {
		margin-bottom: -1px;
		width: 100%;
	}
}

footer.site-footer {
	background-color: $blue;
	color: #fff;
	padding: 64px 0 32px;

	.content-wrapper {
		.columns {
			display: grid;
			gap: 64px;
			grid-template-columns: repeat(3, 1fr);
			margin-bottom: 64px;

			p {
				font-size: 16px;
			}

			p:has(strong) {
				font-size: 20px;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			a {
				color: #fff;
				font-size: 16px;

				&:visited {
					color: #fff;
				}

				&:hover {
					color: $gray;
				}

				&:active {
					color: $orange;
				}
			}
		}
	}

	.copyright {
		font-size: 14px;
		margin-bottom: 0;
		text-align: center;
	}
}

@media only screen and (max-width: 768px) {
	.menu-toggle {
		display: inline-block;
	}
}
