@import './_variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
	background: $background;
	font-family: 'Mulish', sans-serif;
	font-size: 18px;

	a {
		@include blueLink;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-bottom: 32px;
	}

	h1 {
		font-size: 36px;
		font-weight: 700;
		line-height: 130%;
	}

	h2 {
		font-size: 36px;
		font-weight: 700;
	}

	h3 {
		font-size: 32px;
		font-weight: 700;
	}

	h4 {
		font-size: 24px;
		font-weight: 500;
	}

	h5 {
		font-size: 20px;
		font-weight: 500;
	}

	p {
		line-height: 170%;
	}

	img {
		vertical-align: middle;
	}
}

.lock {
	overflow: hidden;
}

.content-wrapper {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 32px;
}

.site-main {
	margin-top: 16px;
}

#masthead {
	background-color: #fff;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
	padding: 20px 0;
	position: sticky;
	top: 0;
	z-index: 5;

	.content-wrapper {
		align-items: center;
		display: flex;
		gap: 32px;
		justify-content: space-between;

		.site-logo {
			a {
				line-height: 0;
			}

			a.site-name {
				@include grayLink;
				font-size: 32px;
				font-weight: 800;
				line-height: 100%;
			}
		}

		.main-navigation {
			flex: 1;
			overflow: hidden;
			padding: 16px 0;
			position: relative;

			.menu-toggle,
			.menu-close {
				display: none;
			}

			.site-navigation-wrapper {
				overflow: auto;

				p {
					display: none;
				}

				ul {
					display: flex;
					gap: 32px;
					justify-content: flex-end;

					li {
						a {
							@include grayLink;
							font-size: 16px;
						}

						&.menu-item-has-children {
							> a {
								align-items: center;
								display: flex;

								&::after {
									border-top: 6px dashed;
									border-right: 6px solid transparent;
									border-left: 6px solid transparent;
									content: '';
								}
							}
						}

						.sub-menu {
							background: $background;
							padding: 16px;

							a {
								color: inherit;

								&:hover {
									color: $orange;
								}

								&:active {
									color: $orange;
								}
							}
						}
					}
				}

				.search-form {
					display: flex;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(100%, -50%);
					opacity: 0;
					transition: opacity 0.25s, transform 0.25s;
					width: 100%;

					input[type='text'] {
						border-radius: 5px 0 0 5px;
						border-right-width: 0;
						outline: none;
						width: 100%;

						&:hover {
							border-color: #999;
						}

						&:focus {
							border-color: $orange;
						}
					}

					button {
						@include blueButton;
						border: none;
						border-radius: 0 5px 5px 0;
						cursor: pointer;
					}

					&.active {
						transform: translate(0, -50%);
						opacity: 1;
					}
				}
			}
		}

		.search-btn {
			line-height: 0;

			svg {
				cursor: pointer;
				height: 20px;
				width: 20px;

				circle,
				line {
					pointer-events: none;
					stroke: $gray;
				}

				&:hover {
					circle,
					line {
						stroke: $blue;
					}
				}

				&:active {
					circle,
					line {
						stroke: $orange;
					}
				}
			}
		}
	}
}

.admin-bar {
	#masthead {
		top: 32px;
	}
}

#before_footer {
	line-height: 0;

	img {
		margin-bottom: -1px;
		width: 100%;
	}
}

footer.site-footer {
	background-color: $blue;
	color: #fff;
	padding: 64px 0 32px;

	.content-wrapper {
		.columns {
			display: grid;
			gap: 64px;
			grid-template-columns: repeat(3, 1fr);
			margin-bottom: 64px;

			p {
				font-size: 16px;
			}

			p:has(strong) {
				font-size: 20px;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			a {
				color: #fff;
				font-size: 16px;

				&:visited {
					color: #fff;
				}

				&:hover {
					color: $gray;
				}

				&:active {
					color: $orange;
				}
			}
		}
	}

	.copyright {
		font-size: 14px;
		margin-bottom: 0;
		text-align: center;
	}
}

.overlay {
	background: #000;
	height: 100%;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	transition: visibility 0.5s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 8;
}

@media only screen and (max-width: $laptop-size) {
	#masthead .content-wrapper .main-navigation .site-navigation-wrapper ul {
		gap: 24px;
	}
}

@media only screen and (max-width: $tablet-size) {
	.content-wrapper {
		padding: 0 16px;
	}

	#masthead .content-wrapper {
		.search-btn {
			display: none;
		}

		.main-navigation {
			padding: 0;
			text-align: right;

			.menu-toggle {
				background: none;
				border: none;
				cursor: pointer;
				display: inline-flex;
				flex-direction: column;
				padding: 0;
				width: 36px;
				vertical-align: top;

				span {
					@include blueButton;
					border-radius: 10px;
					height: 4px;
					margin: 4px 0;
					padding: 0;
					width: 100%;

					&::after {
						background-color: $gray;
					}

					&::before {
						background-color: $blue;
					}
				}

				&:hover span {
					&:before {
						width: 100%;
					}
				}

				&:active span {
					&:before {
						background-color: $orange;
						transition: none;
					}
				}
			}

			.menu-close {
				background: none;
				border: none;
				cursor: pointer;
				display: block;
				line-height: 0;
				padding: 0;
				position: absolute;
				top: 24px;
				right: 24px;

				&:hover {
					.mask-rect2 {
						width: 100%;
					}
				}

				&:active {
					#x2 {
						fill: $orange;
					}
				}

				svg {
					height: 36px;
					pointer-events: none;
					width: 36px;

					#x1 {
						fill: $gray;
					}

					#x2 {
						fill: $blue;
					}

					.mask-rect1,
					.mask-rect2 {
						transition: width 0.5s ease-in-out;
						width: 0;
					}

					.mask-rect1 {
						width: 100%;
					}
				}
			}

			.site-navigation-wrapper {
				background: #fff;
				height: 100%;
				margin: 0;
				padding: 32px;
				position: fixed;
				text-align: left;
				transform: translateX(100%);
				transition: transform 0.5s ease-out;
				top: 0;
				right: 0;
				width: 50%;
				z-index: 10;

				p {
					display: block;
					font-size: 24px;
				}

				ul {
					background: $light-gray;
					display: block;
					margin-bottom: 32px;
					padding: 16px;

					li {
						padding-bottom: 32px;
						width: fit-content;

						&:last-child {
							padding-bottom: 0;
						}
					}
				}

				.search-form {
					background: $light-gray;
					padding: 16px;
					display: block;
					position: initial;
					transform: none;
					opacity: 1;
					transition: none;

					input[type='text'] {
						border-radius: 5px;
						border-right-width: 1px;
						margin-bottom: 16px;
					}

					button {
						border-radius: 5px;
					}
				}
			}

			&.active {
				.site-navigation-wrapper {
					transform: translateX(0);
				}

				.overlay {
					visibility: visible;
				}
			}
		}
	}
}

@media only screen and (max-width: $mobile-size) {
	body {
		font-size: 16px;

		h1 {
			font-size: 32px;
		}

		h2 {
			font-size: 28px;
		}

		h3 {
			font-size: 24px;
		}

		h4 {
			font-size: 20px;
		}

		h5 {
			font-size: 16px;
		}
	}

	#masthead .content-wrapper {
		.site-logo {
			a.site-name {
				font-size: 24px;
			}
		}

		.main-navigation {
			.site-navigation-wrapper {
				width: 80%;
			}
		}
	}

	footer.site-footer {
		padding: 32px 0;

		.content-wrapper {
			.columns {
				gap: 32px;
				grid-template-columns: repeat(2, 1fr);
				row-gap: 0;
				margin-bottom: 32px;

				.column:first-child {
					display: grid;
					grid-column-start: 1;
					grid-column-end: 3;
				}
			}
		}

		.copyright {
			font-size: 14px;
			margin-bottom: 0;
			text-align: center;
		}
	}
}
